body {
  background-color: #80ED99;
}
*{
  color: #22577A;
}
hr {
  /* background-color: white;   */
  border-style: dotted none none;
  border-color: #38A3A5;
  border-width: 5px;
  width: 5%;
}
h1 {
    color: #002366;
}
h3{
    color: #0F52BA;

}